html, body,#root, .app {
  height: 100%;
  /* width: 100%; */
  background: var(--background);
  color: var(--text-color);
}

#root {
  /* margin: 2em 2em; */
  /* background: #03051f; */
  font-size: 100%;
  width: 100%;
  height: 100%;
}

.app {
  margin: 2rem 4rem;
}
:root {
  --input-width: 30rem;
  --input-height: 3rem;
  --background: #222222;
  --text-color: #d9d9d9;
}

.search-wrapper {
  width: 100%;
  /* height: 100%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-input-wrapper {
  border: solid 6px #485297;
  display: flex;
  width: var(--input-width);
  height: var(--input-height);
  border-radius: 30px;
  padding: 0 2em;
}

.search-input-wrapper__icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30px;
  height: 30px;
}

.search-input {
  font-size: 1.5rem;
  border: none;
  margin-left: 1.2em;
  outline: none;
  background: none;
  color: var(--text-color);
  /* text-align: center; */
}

.search-results {
  margin-top: 20px;
  position: fixed;
  width: var(--input-width);
}

.search-results__item {
  display: flex;
  min-height: 3em;
  width: 100%;
  height: 100%;
  border: solid 2px var(--background);
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
  background: #404040;
  z-index: 1;
  padding: 0.3rem;
}

.search-results__item--highlighted {
  background: #8196f6;
}

/* .search-results__item:hover {
  background: cyan; 
} */

.search-results__item__image {
  object-fit: contain;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  /* flex: 1; */
  /* max-width: 30px; */

}

.search-results__item__text {
  /* flex: 20; */
  margin-left: 2em;
  font-size: 1.3rem;
}


.content-wrapper {
  width: 100%;
  height: 100%;
}