body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body,#root, .app {
  height: 100%;
  /* width: 100%; */
  background: var(--background);
  color: var(--text-color);
}

#root {
  /* margin: 2em 2em; */
  /* background: #03051f; */
  font-size: 100%;
  width: 100%;
  height: 100%;
}

:root {
  --input-width: 30rem;
  --input-height: 3rem;
  --background: #222222;
  --text-color: #d9d9d9;
}
